<div class="footer">
  <a href="mailto:cathy.e.lefebvre@gmail.com">
    <img src="assets/email_icon.png" alt="Cathy's email" />
  </a>

  <a href="https://github.com/cathylefebvre">
    <img src="assets/github_logo.png" alt="Cathy's GitHub" />
  </a>

  <a href="https://www.linkedin.com/in/cathy-codes/">
    <img src="assets/linkedin_logo.png" alt="Cathy's Email" />
  </a>
  <p>© <span id="year"></span> Cathy Codes — All Rights Reserved 2025</p>
</div>

<!-- TODO: Update LinkedIn and Email Logos to be transparent -->
