name: "Validate & Test"

on:
  pull_request:
    branches:
      - main
  
jobs: 
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3